@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "reset.css";
@import "variables.css";

.hidden {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#weather,
.login-todo__container,
.date-time__container {
  width: 100%;
  margin: 150px;
}

#weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  margin-top: var(--margin-top__50px);
  padding: var(--padding-normal);
  font-size: var(--font-size__R);
  color: var(--font-color__def);
  font-weight: bold;
}
#weather span {
  margin-bottom: 5px;
}

.login-todo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--margin-top__200px);
  padding: var(--padding-normal);
  font-size: var(--font-size__L);
  color: var(--font-color__def);
  width: 300px;
}

#greeting {
  font-weight: bold;
  font-size: 80px;
  white-space: nowrap;
}

.todo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--margin-top__50px);
  font-size: var(--font-size__R);
}

#todo-form input {
  font-size: var(--font-size__S);
  color: var(--font-color__def);
  width: 300px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid antiquewhite;
}

#todo-form input::placeholder {
  color: antiquewhite;
  text-align: center;
}

#todo-list {
  margin-top: var(--margin-top__50px);
  white-space: nowrap;
  text-align: left;
}

#todo-list li {
  padding: var(--padding-small);
}

.date-time__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: var(--margin-top__50px);
  padding: var(--padding-normal);
  font-size: var(--font-size__R);
  color: var(--font-color__def);
  font-weight: bold;
}

.date-time__container h2 {
  height: 20px;
}

.date-time__container h3 {
  white-space: nowrap;
  margin-top: 10px;
}

#quote {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-55%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size__S);
  color: var(--font-color__def);
}

#quote span:first-child {
  text-align: center;
  white-space: nowrap;
}

#quote span:last-child {
  padding: 20px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.opcity-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
